RewriteEngine On
RewriteBase /

# Si le chemin demandé n'est pas un fichier ou un répertoire existant,
# rediriger vers index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]